node_red_max6675_MQTT.json
[
    {
        "id": "07295710e72e5ac1",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a7e7dacc3d51fa3",
        "type": "mqtt in",
        "z": "07295710e72e5ac1",
        "name": "",
        "topic": "thermocouple/1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "df81d681b0f246e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "b05c860190eb1546",
                "195c8b9e76f62b70"
            ]
        ]
    },
    {
        "id": "b05c860190eb1546",
        "type": "debug",
        "z": "07295710e72e5ac1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "195c8b9e76f62b70",
        "type": "ui_gauge",
        "z": "07295710e72e5ac1",
        "name": "",
        "group": "6dbcb52cbcddde39",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Thermocouple 1",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "185f2d841d6677e8",
        "type": "ui_gauge",
        "z": "07295710e72e5ac1",
        "name": "",
        "group": "6dbcb52cbcddde39",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Thermocouple 2",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "d7ea1d6234dff760",
        "type": "mqtt in",
        "z": "07295710e72e5ac1",
        "name": "",
        "topic": "thermocouple/2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "df81d681b0f246e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "185f2d841d6677e8",
                "163a21b5807bb213"
            ]
        ]
    },
    {
        "id": "163a21b5807bb213",
        "type": "debug",
        "z": "07295710e72e5ac1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "df81d681b0f246e4",
        "type": "mqtt-broker",
        "name": "HiveMQTT",
        "broker": "",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {}
    },
    {
        "id": "6dbcb52cbcddde39",
        "type": "ui_group",
        "name": "Temperature (°C)",
        "tab": "af826109dad7056c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af826109dad7056c",
        "type": "ui_tab",
        "name": "Temperature Monitoring",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]